@import url("./vendor/normalize.css");
@import url("./vendor/font.css");

.page {
  max-width: 1680px;
  min-height: 100vh;
  font-family: "Inter", "Arial", sans-serif;
  background: #000000;
  color: #ffffff;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 49px;
  align-items: center;
  padding: 50px 100px;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 635px;
  height: 100%;
}

.about__overview-title {
  font-weight: 600;
  font-size: 75px;
  line-height: calc(75 / 75);
  margin: 0 0 65px;
  padding: 0;
}

.about__overview-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 27px;
  column-gap: 55px;
  margin-bottom: 45px;
}

.overview__item {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.overview__item-icon {
  margin-bottom: 7px;
}

.overview__item-title {
  font-weight: 500;
  font-size: 15px;
  line-height: calc(25 / 15);
  opacity: 0.6;
  margin: 0;
  padding: 0;
}

.overview__item-text {
  font-weight: 500;
  font-size: 15px;
  line-height: calc(25 / 15);
  margin: 0;
  padding: 0;
}

.progress__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.progress__item:last-child {
  margin: 0;
}

.progress__label {
  font-weight: 500;
  font-size: 15px;
  line-height: calc(25 / 15);
  opacity: 0.8;
  margin: 0;
  padding: 0;
}

.progress__bar {
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  height: 7px;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background: #ffffff;
  height: 7px;
  border-radius: 10px;
}

.article {
  margin-bottom: 45px;
}

.article__title {
  font-weight: 600;
  font-size: 30px;
  line-height: calc(25 / 30);
  opacity: 0.9;
  margin: 0 0 15px;
  padding: 0;
}

.article__content {
  font-weight: 500;
  font-size: 15px;
  line-height: calc(25 / 15);
  opacity: 0.8;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.article__content-item {
  padding-left: 10px;
  margin-bottom: 10px;
  position: relative;
}

.article__content-item:last-child {
  margin-bottom: 0;
}

.article__content-item::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #ffffff;
  border-radius: 50%;
  top: 10px;
  left: 0;
}

.about__avatar {
  position: relative;
  margin: 0;
  padding: 0;
}

@media (max-width: 1498px) {
  .picture {
    order: -1;
  }

  .picture__image {
    width: 100%;
  }

  .about__general {
    grid-column: 1 / span 2;
  }
}

@media (max-width: 1000px) {
  .about__general {
    grid-column: 1;
  }
}

@media (max-width: 768px) {
  .about__overview-title {
    font-size: 50px;
    line-height: calc(50 / 50);
  }

  .about {
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;
  }
}

.picture__image {
  max-width: 100%;
  display: block;
  border-radius: 7px;
  object-fit: cover;
  position: relative;
}

.picture::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(360deg, #6a595b -21.87%, rgba(131, 104, 107, 0) 45.4%);
  border-radius: 7px;
  z-index: 1;
}

.picture__image-caption {
  position: absolute;
  bottom: 83px;
  left: 0;
  text-align: left;
  font-weight: 600;
  font-size: 30px;
  line-height: calc(35 / 30);
  margin: 0;
  padding: 0 50px;
  z-index: 2;
}

.picture__image-caption::before,
.picture__image-caption::after {
  position: absolute;
  font-size: 25pt;
  color: #ffffff;
}

.picture__image-caption::before {
  content: "\201c";
  top: -2px;
  left: 34px;
}

.quotes {
  font-size: 25pt;
}
